{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kobai</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>

<div id="landing">
    <div id="logo">
        <img id="logo-body" class="logo-title" src="{% static 'images/logo.png' %}" alt="">
        <div id="logo-stroke" class="logo-title"></div>
        <img id="toro" class="logo-character" src="{% static 'images/toro.png' %}" alt="">
        <img id="kuro" class="logo-character" src="{% static 'images/kuro.png' %}" alt="">
    </div>
    <div class="links-bar">
        {% for link in links %}
            <a href="{{ link.url }}" class="link" target="_blank"><img src="{{ link.icon.url }}" alt="{{ link.name }}"/></a>
        {% endfor %}
    </div>
</div>

<script src="{% static 'scripts/main.js' %}"></script>

</body>
</html>