{% load l10n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kobai</title>
</head>
<body>
    <h1>Kobai</h1>

    {% for link in links %}
        <p>
            <img src="{{ link.icon.url }}" alt="{{ link.name }}" width="24" height="24">
            <a href="{{ link.url }}">{{ link.name }}</a>
        </p>
    {% endfor %}

    <h3>Posts</h3>
    {% for post in posts %}
        <div class="post">
            <label class="post-title">{{ post.title }}</label>
            <img src="{{ post.image.url }}" alt="{{ post.title }}" height=500>
            <p class="post-creation">{{ post.creation_date|date }}</p>
            <p class="post-description">{{ post.description }}</p>
            <h5>Links:</h5>
            {% for link in post.link.all %}
                <a href="{{ link.url }}">{{ link.name }}</a>
            {% endfor %}
        </div>
    {% endfor %}
</body>
</html>