html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 0;
  padding: 0;
  background-color: black;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

#landing {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  --background-url: url("../images/background-1.jpg");
  --background-transform: scale3d(1.1, 1.1, 1.1);
  position: relative;
}
#landing:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: var(--background-url);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: background-image 5.5s linear;
  -ms-transform: var(--background-transform);
  -webkit-transform: var(--background-transform);
  transform: var(--background-transform);
  opacity: 0;
  -webkit-animation: 1s linear 4.5s forwards fadeOut-uob1qyu;
  animation: 1s linear 4.5s forwards fadeOut-uob1qyu;
}
@-webkit-keyframes fadeOut-uob1qyu {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes fadeOut-uob1qyu {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

#logo {
  height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column;
}
@media screen and (orientation: portrait) and (min-aspect-ratio: 8/10) and (max-aspect-ratio: 9/10) {
  #logo {
    height: 50vh;
  }
}
@media screen and (orientation: portrait) and (min-aspect-ratio: 7/10) and (max-aspect-ratio: 8/10) {
  #logo {
    height: 45vh;
  }
}
@media screen and (orientation: portrait) and (min-aspect-ratio: 6/10) and (max-aspect-ratio: 7/10) {
  #logo {
    height: 38vh;
  }
}
@media screen and (orientation: portrait) and (min-aspect-ratio: 5/10) and (max-aspect-ratio: 6/10) {
  #logo {
    height: 32vh;
  }
}
@media screen and (orientation: portrait) and (min-aspect-ratio: 4/10) and (max-aspect-ratio: 5/10) {
  #logo {
    height: 26vh;
  }
}
@media screen and (orientation: portrait) and (max-aspect-ratio: 4/10) {
  #logo {
    height: 20vh;
  }
}
#logo #logo-body {
  opacity: 0;
  -webkit-animation: 1s linear 3.4s forwards fadeOut-uob1qz4;
  animation: 1s linear 3.4s forwards fadeOut-uob1qz4;
}
@-webkit-keyframes fadeOut-uob1qz4 {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes fadeOut-uob1qz4 {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
#logo #logo-stroke {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  -webkit-mask-image: url("../images/logo_stroke.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: auto 100%;
}
#logo #logo-stroke:before {
  content: "";
  background: conic-gradient(white, black, white, black, white, black, white);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-animation: 10s linear rotate_background infinite;
  animation: 10s linear rotate_background infinite;
}
@-webkit-keyframes rotate_background {
  from {
    -ms-transform: rotate3d(1, 1, 1, 0deg);
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
    transform: rotate3d(1, 1, 1, 0deg);
  }
  to {
    -ms-transform: rotate3d(1, 1, 1, 360deg);
    -webkit-transform: rotate3d(1, 1, 1, 360deg);
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
@keyframes rotate_background {
  from {
    -ms-transform: rotate3d(1, 1, 1, 0deg);
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
    transform: rotate3d(1, 1, 1, 0deg);
  }
  to {
    -ms-transform: rotate3d(1, 1, 1, 360deg);
    -webkit-transform: rotate3d(1, 1, 1, 360deg);
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
#logo .logo-character {
  z-index: 9;
}
#logo .logo-title {
  z-index: 10;
}
#logo .logo-title, #logo .logo-character {
  position: absolute;
  height: 100%;
}
#logo #toro {
  opacity: 0;
  -webkit-animation: 1s linear 3s forwards fadeOut-uob1qzg;
  animation: 1s linear 3s forwards fadeOut-uob1qzg;
}
@-webkit-keyframes fadeOut-uob1qzg {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes fadeOut-uob1qzg {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
#logo #kuro {
  opacity: 0;
  -webkit-animation: 1s linear 3.2s forwards fadeOut-uob1r0e;
  animation: 1s linear 3.2s forwards fadeOut-uob1r0e;
}
@-webkit-keyframes fadeOut-uob1r0e {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes fadeOut-uob1r0e {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.links-bar {
  opacity: 0;
  -webkit-animation: 1s linear 3.8s forwards fadeOut-uob1r12;
  animation: 1s linear 3.8s forwards fadeOut-uob1r12;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url("../images/links_noise.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  transition: height 300ms ease;
  z-index: 3;
}
@-webkit-keyframes fadeOut-uob1r12 {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes fadeOut-uob1r12 {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
.links-bar .link {
  margin: 11px;
  transition: height 300ms ease;
  -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
  filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
  -ms-transform: opacity(1);
  -webkit-transform: opacity(1);
  transform: opacity(1);
}
.links-bar .link img {
  height: 5vh;
  width: 5vh;
}
@media screen and (orientation: portrait) and (min-aspect-ratio: 8/10) and (max-aspect-ratio: 9/10) {
  .links-bar .link img {
    height: 5vh;
    width: 5vh;
  }
}
@media screen and (orientation: portrait) and (min-aspect-ratio: 7/10) and (max-aspect-ratio: 8/10) {
  .links-bar .link img {
    height: 4.5vh;
    width: 4.5vh;
  }
}
@media screen and (orientation: portrait) and (min-aspect-ratio: 6/10) and (max-aspect-ratio: 7/10) {
  .links-bar .link img {
    height: 4vh;
    width: 4vh;
  }
}
@media screen and (orientation: portrait) and (min-aspect-ratio: 5/10) and (max-aspect-ratio: 6/10) {
  .links-bar .link img {
    height: 3.5vh;
    width: 3.5vh;
  }
}
@media screen and (orientation: portrait) and (min-aspect-ratio: 4/10) and (max-aspect-ratio: 5/10) {
  .links-bar .link img {
    height: 3vh;
    width: 3vh;
  }
}
@media screen and (orientation: portrait) and (max-aspect-ratio: 4/10) {
  .links-bar .link img {
    height: 2.5vh;
    width: 2.5vh;
  }
}
.links-bar .link.link-flickering-animation-1 {
  -webkit-animation: flickering-1 2s;
  animation: flickering-1 2s;
}
@-webkit-keyframes flickering-1 {
  20% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  24% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  28% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  60% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  100% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
}
@keyframes flickering-1 {
  20% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  24% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  28% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  60% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  100% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
}
.links-bar .link.link-flickering-animation-2 {
  -webkit-animation: flickering-2 2s;
  animation: flickering-2 2s;
}
@-webkit-keyframes flickering-2 {
  20% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  21% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  23% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  24% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  26% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  27% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  29% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  30% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  70% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
}
@keyframes flickering-2 {
  20% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  21% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  23% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  24% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  26% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  27% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  29% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  30% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  70% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
}
.links-bar .link.link-flickering-animation-3 {
  -webkit-animation: flickering-3 3s;
  animation: flickering-3 3s;
}
@-webkit-keyframes flickering-3 {
  20% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  40% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  60% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  70% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  72.5% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  75% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
}
@keyframes flickering-3 {
  20% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  40% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  60% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  70% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  72.5% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  75% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
}

/*# sourceMappingURL=main.css.map */
