html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 0;
  padding: 0;
  background-color: black;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

.paw {
  background-image: url("../images/paw.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  -webkit-filter: invert(1);
  filter: invert(1);
  z-index: 8;
  height: 10px;
  width: 20px;
  opacity: 35%;
  transition: opacity 300ms ease-in;
}

.paw-right {
  background-position: right;
}

#landing {
  --background-url: url("../images/background-1.jpg");
  --background-transform: scale3d(1.1, 1.1, 1.1);
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#landing:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: var(--background-url);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: background-image 5.5s linear;
  -ms-transform: var(--background-transform);
  -webkit-transform: var(--background-transform);
  transform: var(--background-transform);
  opacity: 0;
  -webkit-animation: 1s linear 4.5s forwards fadeOut-uafncr4;
  animation: 1s linear 4.5s forwards fadeOut-uafncr4;
}
@-webkit-keyframes fadeOut-uafncr4 {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes fadeOut-uafncr4 {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
#landing #landing-center {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#landing #landing-comment {
  display: flex;
  justify-content: center;
}
#landing #landing-comment p {
  opacity: 0;
  -webkit-animation: 1s linear 4s forwards fadeOut-uafncrt;
  animation: 1s linear 4s forwards fadeOut-uafncrt;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  color: #9499c9;
  font-family: "Arial", serif;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
  -webkit-filter: drop-shadow(0 0 35px #FFF) drop-shadow(0 0 50px #FFF);
  filter: drop-shadow(0 0 35px #FFF) drop-shadow(0 0 50px #FFF);
  background-image: url("../images/comment_noise.png");
  background-repeat: repeat;
  background-position: center;
  background-size: auto;
}
@-webkit-keyframes fadeOut-uafncrt {
  from {
    opacity: 0;
  }
  to {
    opacity: 32%;
  }
}
@keyframes fadeOut-uafncrt {
  from {
    opacity: 0;
  }
  to {
    opacity: 32%;
  }
}
@media screen and (min-width: 350px) {
  #landing #landing-comment p {
    font-size: 16px;
  }
}
@media screen and (min-width: 480px) {
  #landing #landing-comment p {
    font-size: 19.2px;
  }
}
@media screen and (min-width: 600px) {
  #landing #landing-comment p {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 768px) {
  #landing #landing-comment p {
    font-size: 27.2px;
  }
}
@media screen and (min-width: 900px) {
  #landing #landing-comment p {
    font-size: 28.8px;
  }
}
@media screen and (min-width: 1200px) {
  #landing #landing-comment p {
    font-size: 32px;
  }
}

#logo {
  position: relative;
}
#logo .logo-character {
  z-index: 9;
  display: flex;
  align-content: center;
}
#logo #logo-body {
  opacity: 0;
  -webkit-animation: 1s linear 3.4s forwards fadeOut-uafncst;
  animation: 1s linear 3.4s forwards fadeOut-uafncst;
}
@-webkit-keyframes fadeOut-uafncst {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes fadeOut-uafncst {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
#logo .logo-title {
  z-index: 10;
}
#logo #logo-stroke {
  position: relative;
  overflow: hidden;
  -webkit-mask-image: url("../images/logo_stroke.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: bottom center;
}
#logo #logo-stroke:before {
  content: "";
  background: conic-gradient(white, black, white, black, white, black, white);
  position: absolute;
  width: 200%;
  height: 200%;
  top: -60%;
  left: -50%;
  z-index: -1;
  -webkit-animation: 10s linear rotate_background infinite;
  animation: 10s linear rotate_background infinite;
}
@-webkit-keyframes rotate_background {
  from {
    -ms-transform: rotate3d(1, 1, 1, 0deg);
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
    transform: rotate3d(1, 1, 1, 0deg);
  }
  to {
    -ms-transform: rotate3d(1, 1, 1, 360deg);
    -webkit-transform: rotate3d(1, 1, 1, 360deg);
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
@keyframes rotate_background {
  from {
    -ms-transform: rotate3d(1, 1, 1, 0deg);
    -webkit-transform: rotate3d(1, 1, 1, 0deg);
    transform: rotate3d(1, 1, 1, 0deg);
  }
  to {
    -ms-transform: rotate3d(1, 1, 1, 360deg);
    -webkit-transform: rotate3d(1, 1, 1, 360deg);
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
#logo .logo-title, #logo .logo-character {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#logo #toro {
  opacity: 0;
  -webkit-animation: 1s linear 3s forwards fadeOut-uafnct2;
  animation: 1s linear 3s forwards fadeOut-uafnct2;
}
@-webkit-keyframes fadeOut-uafnct2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes fadeOut-uafnct2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
#logo #kuro {
  opacity: 0;
  -webkit-animation: 1s linear 3.2s forwards fadeOut-uafnctj;
  animation: 1s linear 3.2s forwards fadeOut-uafnctj;
}
@-webkit-keyframes fadeOut-uafnctj {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes fadeOut-uafnctj {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@media screen and (min-width: 350px) {
  #logo {
    height: 192.66px;
  }
  #logo .logo-title, #logo .logo-character {
    height: 192.66px;
  }
  #logo #logo-stroke {
    -webkit-mask-size: auto 192.66px;
  }
}
@media screen and (min-width: 480px) {
  #logo {
    height: 271.32px;
  }
  #logo .logo-title, #logo .logo-character {
    height: 271.32px;
  }
  #logo #logo-stroke {
    -webkit-mask-size: auto 271.32px;
  }
}
@media screen and (min-width: 600px) {
  #logo {
    height: 339.15px;
  }
  #logo .logo-title, #logo .logo-character {
    height: 339.15px;
  }
  #logo #logo-stroke {
    -webkit-mask-size: auto 339.15px;
  }
}
@media screen and (min-width: 768px) {
  #logo {
    height: 434.34px;
  }
  #logo .logo-title, #logo .logo-character {
    height: 434.34px;
  }
  #logo #logo-stroke {
    -webkit-mask-size: auto 434.34px;
  }
}
@media screen and (min-width: 900px) {
  #logo {
    height: 495.9px;
  }
  #logo .logo-title, #logo .logo-character {
    height: 495.9px;
  }
  #logo #logo-stroke {
    -webkit-mask-size: auto 495.9px;
  }
}
@media screen and (min-width: 1200px) {
  #logo {
    height: 570px;
  }
  #logo .logo-title, #logo .logo-character {
    height: 570px;
  }
  #logo #logo-stroke {
    -webkit-mask-size: auto 570px;
  }
}

.links-bar {
  opacity: 0;
  -webkit-animation: 1s linear 3.8s forwards fadeOut-uafnctk;
  animation: 1s linear 3.8s forwards fadeOut-uafnctk;
  display: flex;
  justify-content: center;
  background-image: url("../images/links_noise.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  transition: height 300ms ease;
  z-index: 3;
}
@-webkit-keyframes fadeOut-uafnctk {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes fadeOut-uafnctk {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@media screen and (min-width: 350px) {
  .links-bar .link {
    margin: 7.15px;
  }
  .links-bar .link img {
    height: 26px;
    width: 26px;
  }
}
@media screen and (min-width: 480px) {
  .links-bar .link {
    margin: 9.9px;
  }
  .links-bar .link img {
    height: 36px;
    width: 36px;
  }
}
@media screen and (min-width: 600px) {
  .links-bar .link {
    margin: 9.35px;
  }
  .links-bar .link img {
    height: 34px;
    width: 34px;
  }
}
@media screen and (min-width: 768px) {
  .links-bar .link {
    margin: 9.35px;
  }
  .links-bar .link img {
    height: 34px;
    width: 34px;
  }
}
@media screen and (min-width: 900px) {
  .links-bar .link {
    margin: 9.9px;
  }
  .links-bar .link img {
    height: 36px;
    width: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .links-bar .link {
    margin: 11px;
  }
  .links-bar .link img {
    height: 40px;
    width: 40px;
  }
}
.links-bar .link {
  transition: height 300ms ease;
  -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
  filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
  -ms-transform: opacity(1);
  -webkit-transform: opacity(1);
  transform: opacity(1);
}
.links-bar .link.link-flickering-animation-1 {
  -webkit-animation: flickering-1 2s;
  animation: flickering-1 2s;
}
@-webkit-keyframes flickering-1 {
  20% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  24% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  28% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  60% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  100% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
}
@keyframes flickering-1 {
  20% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  24% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  28% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  60% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  100% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
}
.links-bar .link.link-flickering-animation-2 {
  -webkit-animation: flickering-2 2s;
  animation: flickering-2 2s;
}
@-webkit-keyframes flickering-2 {
  20% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  21% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  23% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  24% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  26% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  27% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  29% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  30% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  70% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
}
@keyframes flickering-2 {
  20% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  21% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  23% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  24% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  26% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  27% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  29% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  30% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  70% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
}
.links-bar .link.link-flickering-animation-3 {
  -webkit-animation: flickering-3 3s;
  animation: flickering-3 3s;
}
@-webkit-keyframes flickering-3 {
  20% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  40% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  60% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  70% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  72.5% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  75% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
}
@keyframes flickering-3 {
  20% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  40% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  60% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  70% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  72.5% {
    -webkit-filter: brightness(0) invert(0.4);
    filter: brightness(0) invert(0.4);
    -ms-transform: opacity(0.8);
    -webkit-transform: opacity(0.8);
    transform: opacity(0.8);
  }
  75% {
    -webkit-filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    filter: brightness(0) invert(1) drop-shadow(0 0 20px #FFF) drop-shadow(0 0 50px #FFF) drop-shadow(0 0 30px #FFF);
    -ms-transform: opacity(1);
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
}

/*# sourceMappingURL=main.css.map */
